body {
	margin: auto;
	color : cornflowerblue;
}

#background{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 99vw;
	min-height: 99vh;
	z-index: -5;
}

header{
	margin: 20px 10%;
}

a{
	color: cornflowerblue;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

nav {
	width: 100%;
  	height: 50px;
	margin: 0 auto;
  	background-color: darkgray;
 	display: flex;
}

nav>div {
  	position: relative;
	display: flex;
	margin: auto;
	padding: 0 1%;
  	width: auto;
}

#here{
	background-color: cornflowerblue;
}

nav>div:hover>.submenu{
	display: flex;
	flex-direction: column;
}

.submenu{
	background-color: gray;
	position: absolute;
	top:35px;
	display: none;
}

#logo{
	max-height: 40px;
	margin: 2px;
}

#repellogauche{
	opacity: 0.8;
	position: absolute;
	top: 2%;
	left: 1%;
	max-width: 8%;
}

#repellodroite{
	opacity: 0.8;
	position: absolute;
	top: 2%;
	right: 1%;
	max-width: 8%;
}

#logohead{
	width: 100%;
	display: none;
}

.burger{
	position: absolute;
	display: none;
}
.burger img{
	width: 50px;
}

main{
	margin: 10px 10% 100px 10%;
	padding: 0 	15px;
}

main>div{
	width: 100%;
	background-color: rgba(128,128,128,0.6);
	margin-top: 5px;
	padding: 0 10px 5px 10px;
	border-radius: 1px;
}

main>div>a{
	display: block;
}

h1{
	text-align: center;
	color: cornflowerblue;
}

h2{
	text-align: center;
	color: cornflowerblue;
}

h3,h4{
	color:white;
}

h2>a{
	color: cornflowerblue;
}

.texte{
	display: flex;
}

p{
	font-family: dum1;
	font-size: 22px;
}

blockquote{
	font-family: dum1;
	font-size: 25px;
}

form{
	width: 90%;
	margin-left: 5%;
}

footer{
	background-color: cornflowerblue;
	width: 100%;
	height: 170px;
}

#tothetop{
	padding-right: 20%;
	text-align: center;
}

#footer{
	color: white;
	padding: 0 10px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

nav>div{
	display: block;
}

@media(max-width:  768px){
	*, #footer{
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	#logohead{
		display: block;
		position: relative;
		left: 10px;
	}
	.burger{
		display: block;
		position: fixed;
		z-index: 2;
		top: 0;
		right: 0;
	}
	#menu{
		width: 80vw;
		height: 100vh;
		padding: 10px;
		padding-top: 30px;
		position: relative;
		top: -80px;
		z-index: 1;
		background-color: rgb(150,150,150);
	}
	#menu a{
		color: cornflowerblue;
	}
	.burger>div{
		display: none;
	}
	.burger:hover>div{
		display: block;
	}
	#repellogauche{
		display: block;
		max-width: none;
		width: 200px;
		position: fixed;
		top: 20%;
		left: 50%;
		transform: translate(-50%,0%);
		z-index: -1;
		border-radius: 7px;
	}
	nav{
	display: none;
	}
	img.vanish{
		display: none;
	}
	h4{
		font-size: 12px;
	}
}

@media(max-width: 480px){
	p:not(.stay):not(.caracs),img.del{
		display: none;
	}
}
